.item {
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
}

#contact-info-takab .elementor-widget-container,
#contact-info-takab .elementor-widget-wrap > .elementor-element {
  height: 100% !important;
}
